.CardHeader {
    padding: 24pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardHeaderCenter {
    padding: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopBorder {
    border-style: solid solid solid solid;
    border-radius: 16pt 16pt 0 0;
    border-width: 1pt;
}

@media screen and (max-width: 680px) {
    .CardHeader {
        flex-direction: row;
        padding: 12pt;
    }

}
